@*@{
        Layout = null;
    }*@
@model PizzariaRioClaro.Models.Pedido
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container" style="left: 250px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading"><h3><strong>Carrinho</strong></h3></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Produto</th>
                                <th>Quantidade</th>
                                <th class="text-center">Unitário</th>
                                <th class="text-center">Subtotal</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{double total = 0; }
                            @if (Model.Itens.Count == 0)
                            {
                                <tr>
                                    <td colspan="6"><center>Carrinho vazio.</center></td>
                                </tr>
                            }
                            else
                            {
                                total = 0; double subtotal = 0;
                                foreach (var item in Model.Itens)
                                {
                                    if (item.SaboresId.HasValue)
                                    {
                                        subtotal = item.Sabores.Preco * item.Quantidade;
                                        total += subtotal;
                                        <tr>
                                            <td class="col-md-1 text-center">
                                                <h4><a href="#">@item.SaboresId</a></h4>
                                            </td>
                                            <td class="col-md-3"><h5><strong>@item.Sabores.Sabor</strong></h5></td>
                                            <td class="col-md-1" style="text-align: center">
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default btn-number" min="0" step="1" ng-click="minus()">
                                                            <i class="glyphicon glyphicon-minus"></i>
                                                        </button>
                                                    </span>
                                                    <input type="text" class="form-control input-number" ng-change="change()" ng-model="qnt" required>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default btn-number" ng-click="plus()">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="col-md-1 text-center"><strong>@item.Sabores.Preco</strong></td>
                                            <td class="col-md-1 text-center"><strong>@subtotal</strong></td>
                                            <td class="col-sm-1 col-md-1 text-center">
                                                <button type="button" class="btn btn-danger">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                    if (item.SaboresDoceId.HasValue)
                                    {
                                        subtotal = item.SaboresDoce.Preco * item.Quantidade;
                                        total += subtotal;
                                        <tr>
                                            <td class="col-md-1 text-center">
                                                <h4><a href="#">@item.SaboresDoceId</a></h4>
                                            </td>
                                            <td class="col-md-3"><h5><strong>@item.SaboresDoce.Sabor</strong></h5></td>
                                            <td class="col-md-1" style="text-align: center">
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default btn-number" min="0" step="1" ng-click="minus()">
                                                            <i class="glyphicon glyphicon-minus"></i>
                                                        </button>
                                                    </span>
                                                    <input type="text" class="form-control input-number" ng-change="change()" ng-model="qnt" required>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default btn-number" ng-click="plus()">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="col-md-1 text-center"><strong>@item.SaboresDoce.Preco</strong></td>
                                            <td class="col-md-1 text-center"><strong>@subtotal</strong></td>
                                            <td class="col-sm-1 col-md-1 text-center">
                                                <button type="button" class="btn btn-danger">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                    if (item.RefrigeranteId.HasValue)
                                    {
                                        subtotal = item.Refrigerante.Preco * item.Quantidade;
                                        total += subtotal;
                                        <tr>
                                            <td class="col-md-1 text-center">
                                                <h4><a href="#">@item.RefrigeranteId</a></h4>
                                            </td>
                                            <td class="col-md-3"><h5><strong>@item.Refrigerante.Marca - @item.Refrigerante.Tamanho</strong></h5></td>
                                            <td class="col-md-1" style="text-align: center">
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default btn-number" min="0" step="1" ng-click="minus()">
                                                            <i class="glyphicon glyphicon-minus"></i>
                                                        </button>
                                                    </span>
                                                    <input type="text" class="form-control input-number" ng-change="change()" ng-model="qnt" required>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default btn-number" ng-click="plus()">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="col-md-1 text-center"><strong>@item.Refrigerante.Preco</strong></td>
                                            <td class="col-md-1 text-center"><strong>@subtotal</strong></td>
                                            <td class="col-sm-1 col-md-1 text-center">
                                                <button type="button" class="btn btn-danger">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                            }

                            <tr>
                                <td></td>
                                <td></td>
                                <td colspan="2" class="text-right"><h5>Total a pagar</h5></td>
                                <td class="text-center"><h5><strong>@total</strong></h5></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col text-center">
                            <a href="/Home/" class="btn btn-danger">
                                Menu Principal <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            <a href="/checkout" class="btn btn-success">
                                Finalizar pedido <span class="glyphicon glyphicon-play"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>