@model PizzariaRioClaro.Models.Pedido
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->
<div class="container" style="left: 250px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading"><h3><strong>Carrinho</strong></h3></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Produto</th>
                                <th>Quantidade</th>
                                <th class="text-center">Unitário</th>
                                <th class="text-center">Subtotal</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{double total = 0; }
                            @if (Model.Itens.Count == 0)
                            {
                                <tr>
                                    <td colspan="6"><center>Carrinho vazio.</center></td>
                                </tr>
                            }
                            else
                            {
                                total = 0; double subtotal = 0;
                                foreach (var item in Model.Itens)
                                {
                                    if (item.SaboresId.HasValue)
                                    {
                                        subtotal = item.Sabores.Preco * item.Quantidade;
                                        total += subtotal;
                                        <tr>
                                            <td class="col-md-1 IdProduto">@item.SaboresId</td>
                                            <td class="col-md-3 h5 font-weight-bold">@item.Sabores.Sabor</td>
                                            <td class="col-md-1" style="text-align: center">
                                                <span style="display: none;" class="tipoDoProduto">S</span>
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default btn-number" ng-click="minus()">
                                                            <i class="glyphicon glyphicon-minus removerqtd"></i>
                                                        </button>
                                                    </span>
                                                    <input type="text" class="form-control input-number text-center quantidade" value="@item.Quantidade" ng-change="change()" ng-model="qnt" required>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default btn-number" ng-click="plus()">
                                                            <i class="glyphicon glyphicon-plus adicionarqtd"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="col-md-1 text-center font-weight-bold precoProduto">R$ @item.Sabores.Preco</td>
                                            <td class="col-md-1 text-center font-weight-bold subtotalProduto">R$ @subtotal</td>
                                            <td class="col-sm-1 col-md-1 text-center">
                                                <span style="display: none;" class="idItem">@item.SaboresId</span>
                                                <span style="display: none;" class="tipoItem">S</span>
                                                <button type="button" class="btn btn-danger">
                                                    <i class="glyphicon glyphicon-remove removertr"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                    if (item.SaboresDoceId.HasValue)
                                    {
                                        subtotal = item.SaboresDoce.Preco * item.Quantidade;
                                        total += subtotal;
                                        <tr>
                                            <td class="col-md-1 IdProduto">@item.SaboresDoceId</td>
                                            <td class="col-md-3 h5 font-weight-bold">@item.SaboresDoce.Sabor</td>
                                            <td class="col-md-1" style="text-align: center">
                                                <span style="display: none;" class="tipoDoProduto">D</span>
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default btn-number" min="0" step="1" ng-click="minus()">
                                                            <i class="glyphicon glyphicon-minus removerqtd"></i>
                                                        </button>
                                                    </span>
                                                    <input type="text" class="form-control input-number text-center quantidade" value="@item.Quantidade" ng-change="change()" ng-model="qnt" required>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default btn-number" ng-click="plus()">
                                                            <i class="glyphicon glyphicon-plus adicionarqtd"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="col-md-1 text-center font-weight-bold precoProduto">R$ @item.SaboresDoce.Preco</td>
                                            <td class="col-md-1 text-center font-weight-bold subtotalProduto">R$ @subtotal</td>
                                            <td class="col-sm-1 col-md-1 text-center">
                                                <span style="display: none;" class="idItem">@item.SaboresDoceId</span>
                                                <span style="display: none;" class="tipoItem">D</span>
                                                <button type="button" class="btn btn-danger">
                                                    <i class="glyphicon glyphicon-remove removertr"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                    if (item.RefrigeranteId.HasValue)
                                    {
                                        subtotal = item.Refrigerante.Preco * item.Quantidade;
                                        total += subtotal;
                                        <tr>
                                            <td class="col-md-1 IdProduto">@item.RefrigeranteId</td>
                                            <td class="col-md-3 h5 font-weight-bold">@item.Refrigerante.Marca - @item.Refrigerante.Tamanho</td>
                                            <td class="col-md-1" style="text-align: center">
                                                <span style="display: none;" class="tipoDoProduto">R</span>
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default btn-number" min="0" step="1" ng-click="minus()">
                                                            <i class="glyphicon glyphicon-minus removerqtd"></i>
                                                        </button>
                                                    </span>
                                                    <input type="text" class="form-control input-number text-center quantidade" value="@item.Quantidade" ng-change="change()" ng-model="qnt" required>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default btn-number" ng-click="plus()">
                                                            <i class="glyphicon glyphicon-plus adicionarqtd"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="col-md-1 text-center font-weight-bold precoProduto">R$ @item.Refrigerante.Preco</td>
                                            <td class="col-md-1 text-center font-weight-bold subtotalProduto">R$ @subtotal</td>
                                            <td class="col-sm-1 col-md-1 text-center">
                                                <span style="display: none;" class="idItem">@item.RefrigeranteId</span>
                                                <span style="display: none;" class="tipoItem">R</span>
                                                <button type="button" class="btn btn-danger">
                                                    <i class="glyphicon glyphicon-remove removertr"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                            }

                            <tr>
                                <td></td>
                                <td></td>
                                <td colspan="2" class="text-right"><h5>Total a pagar</h5></td>
                                <td class="text-center totalaPagar"><h5>$@total</></h5></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col text-center">
                            <a href="/Menu/" class="btn btn-warning text-left" style="display: inline-block;">
                                Continuar Comprando <span class="glyphicon glyphicon-plus"></span>
                            </a>

                            <br /> <hr />

                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="a">
                                <!--Tipo do botão-->
                                <input type="hidden" name="cmd" value="_xclick" />
                                <!--Vendedor e URL de retorno, cancelamento e notificação-->
                                <input type="hidden" name="business" value="teste@empresa.com.br" />
                                <input type="hidden" name="return" value="http://loja.com.br/retorno" />
                                <input type="hidden" name="cancel" value="http://loja.com.br/cancelamento" />
                                <input type="hidden" name="notify_url" value="http://loja.com.br/notificacao" />
                                <!--Internacionalização e localização da página de pagamento-->
                                <input type="hidden" name="charset" value="utf-8" />
                                <input type="hidden" name="lc" value="BR" />
                                <input type="hidden" name="country_code" value="BR" />
                                <input type="hidden" name="currency_code" value="BRL" />
                                <!--Informações sobre o produto e seu valor-->
                                <input type="hidden" name="amount" value="@total" />
                                <input type="hidden" name="item_name" value="@string.Join(", ", Model.Itens.Select(x => (x.Sabores?.Sabor ?? (x.SaboresDoce?.Sabor ?? (x.Refrigerante?.Marca ?? "Produto inválido"))) + " (" + x.Quantidade + "x)").ToArray())" />
                                <input type="hidden" name="quantity" value="1" />
                                <!--Botão para submissão do formulário-->
                                <input type="image" src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_buynowCC_LG.gif" border="0" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/Content/albertos - placehold/js/estiloProjeto.js"></script>