@using PizzariaRioClaro.Models;


<div class="container-wrapper">
    <div class="page-bg" style=" background-image: url(upload/bg-pizza.jpg); "></div>
    <div id="container">
        <!-- start container -->
        <div class="page-title-wrapper">
            <div class="page-title-outher">
                <div class="page-title-inner">
                    <span class="page-title-icon flaticon-pizza-slice"></span>
                    <h1 class="page-title">Sabores Salgados</h1>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="page-wrapper">
            <div class="offer-menu-wrapper">

                @foreach (var sabor in ViewBag.Sabores)
                {
                    <div class="single-offer-item">
                        <div class="single-offer-details">
                            <div class="single-offer-title">@sabor.Sabor</div>
                            <div class="single-offer-content">@sabor.Ingredientes</div>
                        </div>
                        <div class="single-offer-price">$@sabor.Preco</div>
                        <div class="clear"></div>
                        <br />

                        @if (Session["PessoaLogada"] as Pessoa != null)
                        {
                            var pessoa = Session["PessoaLogada"] as Pessoa;
                            if (pessoa.TipoDePessoa == 'C')
                            {
                                <a href="#" onclick="adiciona(@sabor.Id, 'S')">Adicionar ao carrinho</a>
                            }
                        }
                        <hr />


                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>


<!----->


<div class="container-wrapper">
    <div class="page-bg" style=" background-image: url(upload/bg-pizza.jpg); "></div>
    <div id="container">
        <!-- start container -->
        <div class="page-title-wrapper">
            <div class="page-title-outher">
                <div class="page-title-inner">
                    <span class="page-title-icon flaticon-pizza-slice"></span>
                    <h1 class="page-title">Refrigerantes</h1>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="page-wrapper">
            <div class="offer-menu-wrapper">

                @foreach (var refrigerante in ViewBag.Refrigerantes)
                {
                    <div class="single-offer-item">
                        <div class="single-offer-details">
                            <div class="single-offer-title">@refrigerante.Marca</div>
                            <div class="single-offer-content">@refrigerante.Tamanho Ml</div>
                        </div>
                        <div class="single-offer-price">$@refrigerante.Preco</div>
                        <div class="clear"></div>
                        <br />
                        @if (Session["PessoaLogada"] as Pessoa != null)
                        {
                            var pessoa = Session["PessoaLogada"] as Pessoa;
                            if (pessoa.TipoDePessoa == 'C')
                            {
                                <a href="#" onclick="adiciona(@refrigerante.Id, 'R')">Adicionar ao carrinho</a>
                            }
                        }
                        <hr />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>


<!----->


<div class="container-wrapper">
    <div class="page-bg" style=" background-image: url(upload/bg-pizza.jpg); "></div>
    <div id="container">
        <!-- start container -->
        <div class="page-title-wrapper">
            <div class="page-title-outher">
                <div class="page-title-inner">
                    <span class="page-title-icon flaticon-pizza-slice"></span>
                    <h1 class="page-title">Sabores Doce</h1>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="page-wrapper">
            <div class="offer-menu-wrapper">

                @foreach (var sabor in ViewBag.SaboresDoce)
                {
                    <div class="single-offer-item">
                        <div class="single-offer-details">
                            <div class="single-offer-title">@sabor.Sabor</div>
                            <div class="single-offer-content">@sabor.Ingredientes </div>
                        </div>
                        <div class="single-offer-price">@sabor.Preco</div>
                        <div class="clear"></div>
                        <br />
                        @if (Session["PessoaLogada"] as Pessoa != null)
                        {
                            var pessoa = Session["PessoaLogada"] as Pessoa;
                            if (pessoa.TipoDePessoa == 'C')
                            {
                                <a href="#" onclick="adiciona(@sabor.Id, 'D')">Adicionar ao carrinho</a>
                            }
                        }
                        <hr />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>

@section scriptsMenu {
    <script>
        function adiciona(id, tipo) {
            jQuery.ajax({
                data: { tipo: tipo },
                dataType: 'json',
                url: '/Carrinho/Adiciona/' + id,
                success: function (resposta) {
                    if (resposta.adicionou) {
                        alert("Sabor adicionado.");
                    } else {
                        alert(resposta.msg);
                    }
                }
            });
        }
    </script>
}